.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}
.header h1 {
  font-size: 2.5rem;
}
.action {
  display: flex;
  gap: 0.75rem;
}
.action input {
  color: var(--bg-dark-1);
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 0 0.75rem;
}
.action input:focus {
  border: 2px solid var(--bg-dark);
  outline: none;
}
.action input {
  color: var(--bg-dark-1);
  border-radius: 24px;
  padding: 0 0.75rem;
}
@media only screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .action {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    margin: 0.25rem 1rem;
    margin-bottom: 2rem;
  }
}
