@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --bg-dark: rgb(11, 8, 36);
  --bg-dark-1: rgb(22, 17, 58);
  --bg-dark-2: rgb(39, 41, 83);
  --color-text: rgb(230, 230, 230);
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-dark-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-dark);
}

body {
  margin: 0;
}
* {
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}
